/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 2 version,not dead,not ie <= 11
*/

:root {
  --light-text-color: #ffffff;
  --dark-text-color: #ae7c78;
  --button-default-color: #d89999;
  --contacts-info-bg-color: #f7fafc;
  --contacts-info-shadow-color: rgba(217, 217, 217, 0.3);
  --photo-filter: rgba(174, 124, 120, 0.6);
  --left-arrow-icon: url("data:image/svg+xml,%3Csvg width='51' height='16' viewBox='0 0 51 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.292892 8.70711C-0.0976295 8.31658 -0.0976295 7.68342 0.292892 7.29289L6.65685 0.928932C7.04738 0.538408 7.68054 0.538408 8.07107 0.928932C8.46159 1.31946 8.46159 1.95262 8.07107 2.34315L2.41422 8L8.07107 13.6569C8.46159 14.0474 8.46159 14.6805 8.07107 15.0711C7.68054 15.4616 7.04738 15.4616 6.65685 15.0711L0.292892 8.70711ZM51 9H1V7H51V9Z' fill='%23AE7C78'/%3E%3C/svg%3E");
  --right-arrow-icon: url("data:image/svg+xml,%3Csvg width='51' height='16' viewBox='0 0 51 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M50.7071 8.70711C51.0976 8.31658 51.0976 7.68342 50.7071 7.29289L44.3431 0.928932C43.9526 0.538408 43.3195 0.538408 42.9289 0.928932C42.5384 1.31946 42.5384 1.95262 42.9289 2.34315L48.5858 8L42.9289 13.6569C42.5384 14.0474 42.5384 14.6805 42.9289 15.0711C43.3195 15.4616 43.9526 15.4616 44.3431 15.0711L50.7071 8.70711ZM0 9H50V7H0V9Z' fill='%23AE7C78'/%3E%3C/svg%3E");
  --instagram-icon: url("data:image/svg+xml,%3Csvg width='21' height='23' viewBox='0 0 21 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.84581 0C2.6218 0 0 2.60401 0 5.80437V14.1971C0 17.3974 2.6218 20 5.84581 20H14.3512C17.5752 20 20.197 17.3974 20.197 14.1971V5.80437C20.197 2.60401 17.5752 0 14.3512 0H5.84581ZM5.84581 1.71935H14.3512C16.6458 1.71935 18.4664 3.52664 18.4664 5.80437V14.1971C18.4664 16.4748 16.6458 18.2807 14.3512 18.2807H5.84581C3.55123 18.2807 1.73203 16.4748 1.73203 14.1971V5.80437C1.73203 3.52664 3.55123 1.71935 5.84581 1.71935ZM15.5189 3.43867C14.8499 3.43867 14.3078 3.97676 14.3078 4.64091C14.3078 5.30507 14.8499 5.84315 15.5189 5.84315C16.188 5.84315 16.73 5.30507 16.73 4.64091C16.73 3.97676 16.188 3.43867 15.5189 3.43867ZM10.0985 4.85061C7.24365 4.85061 4.91107 7.16609 4.91107 10C4.91107 12.8339 7.24365 15.1494 10.0985 15.1494C12.9534 15.1494 15.2874 12.8339 15.2874 10C15.2874 7.16609 12.9534 4.85061 10.0985 4.85061ZM10.0985 6.56996C12.0175 6.56996 13.5553 8.09513 13.5553 10C13.5553 11.9049 12.0175 13.43 10.0985 13.43C8.17955 13.43 6.6431 11.9049 6.6431 10C6.6431 8.09513 8.17955 6.56996 10.0985 6.56996Z' fill='%23D89999'/%3E%3C/svg%3E");
  --facebook-icon: url("data:image/svg+xml,%3Csvg width='12' height='23' viewBox='0 0 12 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.46041 0C5.45614 0 3.39869 1.65638 3.39869 4.69933V7.32182H0V10.8784H3.39869V20H7.46134V10.8784H10.8506L11.3596 7.32182H7.46134V5.05071C7.46134 4.02128 7.77835 3.31953 9.41206 3.31953H11.4955V0.139979C11.1352 0.0966486 9.89947 0 8.46041 0Z' fill='%23D89999'/%3E%3C/svg%3E");
  --twitter-icon: url("data:image/svg+xml,%3Csvg width='28' height='23' viewBox='0 0 26 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M25.7588 2.36717C24.8116 2.76883 23.7929 3.04029 22.7241 3.16259C23.8149 2.53743 24.6525 1.54801 25.0471 0.36927C24.0262 0.948099 22.8956 1.36795 21.6913 1.59426C20.7278 0.613218 19.3544 0 17.8345 0C14.9158 0 12.5503 2.26041 12.5503 5.04887C12.5503 5.44474 12.5966 5.83021 12.687 6.19951C8.29503 5.98923 4.40126 3.97853 1.79486 0.924148C1.33997 1.66952 1.07939 2.53671 1.07939 3.46218C1.07939 5.21411 2.01193 6.75926 3.43028 7.66504C2.56407 7.63916 1.74915 7.41194 1.03665 7.03349C1.03563 7.05477 1.03563 7.07575 1.03563 7.09687C1.03563 9.54362 2.8574 11.5838 5.27461 12.048C4.83157 12.1634 4.36482 12.2244 3.88283 12.2244C3.54197 12.2244 3.2115 12.1936 2.88828 12.1344C3.56119 14.1402 5.51239 15.6002 7.82521 15.641C6.01517 16.9955 3.73697 17.8022 1.26097 17.8022C0.834721 17.8022 0.413742 17.7783 0 17.7319C2.33958 19.1644 5.11689 20 8.10148 20C17.8212 20 23.1358 12.3067 23.1358 5.63404C23.1358 5.41524 23.1305 5.19793 23.1209 4.9814C24.1529 4.26896 25.0487 3.37993 25.7576 2.36721' fill='%23D89999'/%3E%3C/svg%3E");
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.page {
  display: grid;
  min-height: 100%;
}

.page-body {
  display: grid;
  min-width: 1240px;
  min-height: 100%;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
  font-family: "Montserrat", "Verdana", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: var(--dark-text-color);
}

  /* main-header */

.main-navigation {
  position: relative;
}

.main-header {
  border-top: 1px solid var(--dark-text-color);
  border-bottom: 1px solid var(--dark-text-color);
  margin-top: 26px;
  margin-bottom: 82px;
}

.main-header-logo {
  position: absolute;
  top: calc(50% - 16px);
  left: 50%;
  margin-left: -50px;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px 0 12px;
  margin: 0;
  list-style: none;
}

.site-navigation-item {
  margin: 8px 0;
  width: 163px;
}

.site-navigation-item:nth-child(6n-4) {
  text-align: center;
}

.site-navigation-item:nth-child(3n),
.site-navigation-item:nth-child(6n-1) {
  text-align: right;
}

.site-navigation-item:nth-child(6n-3) {
  margin-right: 222px;
}

.site-navigation-link {
  padding: 5px 0;
  text-decoration: none;
  color: inherit;
  transition: 150ms;
}

.site-navigation-link:hover,
.site-navigation-link:focus {
  padding: 5px 10px;
  border-radius: 7px;
  margin: -5px -10px;
  color: var(--light-text-color);
  background-color: var(--button-default-color);
}

.site-navigation-link:active {
  padding: 5px 10px;
  border-radius: 7px;
  margin: -5px -10px;
  color: var(--light-text-color);
  background-color: var(--dark-text-color);
}

  /* about-us */

.about-us {
  display: grid;
  margin-bottom: 49px;
  grid-template-columns: 1fr 793px;
  font-size: 24px;
  line-height: 29.26px;
}

.about-us-content {
  margin-right: 22px;
}

.main-title {
  margin: 0 0 25px 0;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 44px;
  line-height: 58.65px;
  font-weight: 400;
}

.main-title span {
  font-style: italic;
}

.main-lead {
  margin: 0 0 64px 0;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  min-width: 285px;
  padding: 31px 40px 28px 40px;
  border: 1px solid var(--button-default-color);
  border-radius: 40px;
  text-align: center;
  font-size: 16px;
  line-height: 19.5px;
  text-decoration: none;
  color: var(--light-text-color);
  background-color: var(--button-default-color);
  transition: 250ms;
}

.button:hover,
.button:focus {
  border-color: var(--dark-text-color);
  color: var(--dark-text-color);
  background-color: var(--light-text-color);
}

.button:active {
  border-color: var(--button-default-color);
  text-transform: uppercase;
  color: var(--button-default-color);
  background-color: var(--light-text-color);
  transition: 100ms;
}

.about-us-gallery {
  display: grid;
  grid-template-columns: repeat(2, -webkit-min-content);
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: 58px -webkit-min-content;
  grid-template-rows: 58px min-content;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.about-us-gallery img {
  width: auto;
  border-radius: 10px;
  margin: 0 auto;
}

.about-us-gallery img:first-child {
  grid-row: 2 / 3;
  max-width: 387px;
  height: auto;
  max-height: 404px;
}

.about-us-gallery img:nth-child(2) {
  grid-row: 1 / 3;
  max-width: 386px;
  height: auto;
  max-height: 420px;
}

  /* features */

.features {
  margin-bottom: 79px;
}

.section-title,
.product-categories-name {
  text-align: center;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.02em;
}

.features-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px 19px;
}

.features-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.features-item::before {
  content: "";
  grid-row: 1 / -1;
  grid-column: 1 / 2;
  display: block;
  margin-top: -1px;
  background-repeat: no-repeat;
  background-position: 100% 0;
}

.features-delivery::before {
  background-image: url("../img/delivery-icon.svg");
}

.features-quality::before {
  background-image: url("../img/bouquet-icon.svg");
}

.features-photo::before {
  background-image: url("../img/photo-icon.svg");
}

.features-title {
  grid-column: 2 / -1;
  margin: 0 0 9px 0;
  font-size: 16px;
  line-height: 19.5px;
  font-weight: 500;
}

.features-text {
  grid-column: 2 / -1;
  margin: 0;
}

  /* popular-products */

.popular-products {
  margin-bottom: 59px;
}

.popular-products .section-title {
  margin: 0 0 31px 15px;
}

.popular-products .catalog {
  width: 794px;
  margin: 0 auto;
}

.catalog-item {
  display: grid;
  grid-template-columns: 1fr 387px;
  grid-template-rows: repeat(4, auto) 1fr;
  -moz-column-gap: 20px;
       column-gap: 20px;
}

.catalog-name,
.catalog-price {
  font-size: 24px;
  line-height: 29.26px;
  font-weight: 500;
}

.catalog-name {
  padding: 28px 0 11px 0px;
  text-align: left;
}

.catalog-description {
  padding: 10px 0px 14px 0px;
}

.catalog-dimensions {
  padding: 10px 0 12px 0px;
}

.catalog-price {
  padding: 10px 0 30px 0px;
}

.catalog-cta {
  padding: 35px 0 22px 0px;
}

.catalog-img {
  grid-row: 1 / -1;
  grid-column: 2 / 3;
  max-width: 100%;
  max-height: 438px;
  margin: 0 auto;
  -o-object-fit: contain;
     object-fit: contain;
}

.popular-products .slider-controls {
  display: flex;
  justify-content: center;
}

.popular-products .slider-button-prev {
  -webkit-mask: var(--left-arrow-icon);
  mask: var(--left-arrow-icon);
  -webkit-mask-position: right center;
  mask-position: right center;
  transform-origin: right center;
}

.popular-products .slider-button-next {
  margin-left: 20px;
  -webkit-mask: var(--right-arrow-icon);
  mask: var(--right-arrow-icon);
  -webkit-mask-position: left center;
  mask-position: left center;
  transform-origin: left center;
}

.popular-products .slider-button {
  width: 65px;
  height: 42px;
  padding: 0;
  border: none;
  background-color: var(--dark-text-color);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  cursor: pointer;
}

.popular-products .slider-button:hover,
.popular-products .slider-button:focus-visible {
  transform: scaleX(1.3);
  transition: 100ms;
}

.popular-products .slider-button:active {
  background-color: var(--button-default-color);
  transform: scaleX(1.4);
}

  /* product-categories */

.product-categories {
  margin-bottom: 80px;
}

.product-categories-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
}

.product-categories-item {
  border-radius: 10px;
  background-color: var(--dark-text-color);
  overflow: hidden;
}

.product-categories-link {
  display: grid;
  align-items: center;
  align-items: stretch;
  text-decoration: none;
  color: var(--light-text-color);
}

.product-categories-desc {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  box-sizing: border-box;
}

.product-categories-name {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 44px 20px 9px;
  margin: 0;
  background-color: var(--photo-filter);
}

.product-categories-text {
  padding: 0 20px 7px;
  margin: 0;
  text-align: center;
  background-color: var(--photo-filter);
}

.product-categories-text:last-child {
  flex-grow: 1;
  padding-bottom: 43px;
}

.product-categories-img {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.product-categories-link:hover .product-categories-name,
.product-categories-link:focus .product-categories-name {
  flex-grow: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background-color: var(--dark-text-color);
  transition: 300ms;
}

.product-categories-link:hover .product-categories-text,
.product-categories-link:focus .product-categories-text {
  flex-grow: 0;
  padding-bottom: 7px;
  background-color: var(--dark-text-color);
  transition: 300ms;
}

.product-categories-link:hover .product-categories-text:first-of-type,
.product-categories-link:focus .product-categories-text:first-of-type {
  padding-top: 10px;
}

.product-categories-link:hover .product-categories-text:last-child,
.product-categories-link:focus .product-categories-text:last-child {
  padding-bottom: 10px;
}

.product-categories-link:active .product-categories-text {
  display: none;
}

  /* promo */

.promo {
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  font-size: 24px;
  line-height: 29.26px;
  color: var(--light-text-color);
  background-color: var(--dark-text-color);
}

.promo-content {
  padding: 40px 92px 44px 102px;
}

.promo-title {
  margin: 0 0 24px 0;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-size: 44px;
  line-height: 59px;
  font-weight: 400;
  letter-spacing: 0.02em;
}

.promo-text {
  margin: 0 0 20px 0;
}

.promo-img {
  display: block;
  width: auto;
  max-width: 590px;
  height: auto;
  max-height: 391px;
}

  /* purchase-instruction */

.purchase-instruction {
  margin-bottom: 74px;
}

.purchase-instruction .section-title {
  margin: 0 0 36px 0;
}

.purchase-instruction-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  gap: 35px 20px;
}

.purchase-instruction-item {
  text-align: center;
}

.purchase-instruction-item::before {
  content: "";
  display: block;
  height: 52px;
  margin-bottom: 9px;
  background-repeat: no-repeat;
  background-position: center;
}

.purchase-instruction-order::before {
  background-image: url("../img/order-icon.svg")
}

.purchase-instruction-clarification::before {
  background-image: url("../img/employee-icon.svg")
}

.purchase-instruction-payment::before {
  background-image: url("../img/payment-icon.svg")
}

.purchase-instruction-delivery::before {
  background-image: url("../img/delivery-icon.svg")
}

.purchase-instruction-name {
  margin: 0 0 8px 0;
  font-size: inherit;
  line-height: inherit;
  font-weight: 500;
}

.purchase-instruction-text {
  margin: 0 0 5px 0;
}

  /* follow-us */

.follow-us {
  display: grid;
  margin-bottom: 80px;
  grid-template-columns: 1fr -webkit-min-content;
  grid-template-columns: 1fr min-content;
  font-size: 24px;
  line-height: 29.26px;
}

.follow-us-content {
  padding: 70px 110px 30px 0;
}

.follow-us .section-title {
  margin: 0 0 40px 0;
  text-align: left;
}

.follow-us-text {
  margin: 0 0 25px 0;
}

.follow-us .social-list {
  margin-top: 38px;
}

.social-list {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-item:not(:last-child) {
  margin-right: 19px;
}

.follow-us .social-link {
  background-color: var(--button-default-color);
}

.follow-us .social-link:active {
  background-color: var(--dark-text-color);
  transform: scale(1.5);
}

.social-instagram {
  width: 21px;
  -webkit-mask: var(--instagram-icon);
  mask: var(--instagram-icon);
}

.social-facebook {
  width: 12px;
  -webkit-mask: var(--facebook-icon);
  mask: var(--facebook-icon);
}

.social-twitter {
  width: 28px;
  -webkit-mask: var(--twitter-icon);
  mask: var(--twitter-icon);
}

.social-link {
  display: block;
  height: 23px;
  text-decoration: none;
  color: inherit;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  transition: 200ms;
}

.social-link:hover,
.social-link:focus {
  transform: scale(1.5);
}

.follow-us-gallery {
  display: grid;
  grid-template-columns: repeat(2, -webkit-min-content);
  grid-template-columns: repeat(2, min-content);
  grid-template-rows: repeat(2, -webkit-min-content);
  grid-template-rows: repeat(2, min-content);
  gap: 20px;
  justify-items: end;
  align-items: start;
}

.follow-us-img:first-child,
.follow-us-img:nth-child(2) {
  width: auto;
  max-width: 285px;
  height: auto;
  max-height: 220px;
}

.follow-us-img:nth-child(3) {
  grid-row: 1 / 3;
  grid-column: 2 / 3;
  align-self: center;
  width: auto;
  max-width: 387px;
  height: auto;
  max-height: 460px;
}

  /* reviews */

.reviews {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 20px;
  padding: 29px 0 62px;
  border: 1px solid var(--dark-text-color);
  margin-bottom: 80px;
}

.reviews .section-title {
  grid-column: 1 / -1;
  margin: 10px 0px 12px;
}

.reviews-item {
  text-align: center;
  margin: 0;
}

.reviews-text {
  padding: 0 42px;
  margin: 0 0 15px 0;
}

.reviews-author {
  font-weight: 500;
  font-style: normal;
}

  /* main-footer */

.main-footer {
  color: var(--light-text-color);
  background-color: var(--dark-text-color);
}

  /* contacts */

.contacts {
  display: grid;
  overflow: hidden;
}

.contacts-info {
  z-index: 3;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  box-sizing: border-box;
  min-width: 386px;
  padding: 39px 35px 34px;
  border-radius: 12px;
  margin-top: 52px;
  margin-bottom: 65px;
  margin-left: calc(50% - 499px); /* (100% - 1200 / 2) + 101px */
  justify-self: start;
  align-self: start;
  color: var(--dark-text-color);
  background-color: var(--contacts-info-bg-color);
  filter: drop-shadow(0px 4px 40px var(--contacts-info-shadow-color));
}

.contacts .section-title {
  margin: 0 0 40px 0;
  text-align: left;
  letter-spacing: normal;
}

.contacts-text {
  margin: 0 0 30px 0;
}

.contacts-item {
  display: block;
  margin: 14px 0 0 0;
  font-weight: 500;
}

.contacts-text:first-of-type {
  margin-bottom: 32px;
}

.contacts-text:first-of-type .contacts-item {
  margin-top: 17px;
}

.contacts-text:nth-of-type(3) .contacts-item {
  margin-top: 13px;
  margin-left: 3px;
}

.contacts-text:nth-of-type(4) .contacts-item {
  margin-top: 13px;
}

.contacts-link {
  text-decoration: none;
  color: inherit;
  transform-origin: left center;
  transition: 150ms;
}

.contacts-link:hover,
.contacts-link:focus {
  transform: scale(1.15);
}

.contacts-link:active {
  color: var(--button-default-color);
  transform: scale(1.15);
}

.google-map {
  z-index: 2;
  display: block;
  width: calc(100% + 700px);
  height: 100%;
  margin-left: -350px;
  border: none;
  grid-row: 1 / 2;
  grid-column: 1 / 2;
}

.static-map {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  width: 100%;
  height: 645px;
  object-fit: cover;
  object-position: center;
}

.main-footer-bottom {
  display: flex;
  align-items: center;
  padding: 19px 0 34px;
}

.main-footer-logo {
  margin-top: 4px;
  margin-right: 65px;
}

.footer-navigation {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  justify-content: center;
}

.footer-navigation-item {
  margin: 7px 34px;
}

.footer-navigation-link {
  display: block;
  padding: 4px 0;
  border-bottom: 1px solid transparent;
  color: inherit;
  text-decoration: none;
  transition: 250ms;
}

.footer-navigation-link:hover,
.footer-navigation-link:focus {
  border-bottom-color: var(--light-text-color);
}

.footer-navigation-link:active {
  border-bottom-color: var(--button-default-color);
  color: var(--button-default-color);
}

.main-footer .social-list {
  margin-left: 65px;
}

.main-footer .social-link {
  background-color: var(--light-text-color);
}

.main-footer .social-link:active {
  background-color: var(--button-default-color);
  transform: scale(1.5);
}

.hidden {
  display: none;
}
